@charset "UTF-8";
/*Font de la página*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
/*Generalidades de la página*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  border: none; }

/*Utilities*/
/*Header y Footer*/
.header {
  background-color: #252526;
  position: fixed;
  z-index: 1000;
  width: 100%; }
  .header__imagen {
    width: 6rem;
    height: auto; }

.container1 {
  padding: 0;
  max-width: 1920px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3rem auto auto;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-gap: 3rem;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }

main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  grid-gap: 3rem;
  grid-template-areas: "section1" "section2" "section3" "section4"; }

.section1 {
  grid-area: section1; }

.section2 {
  grid-area: section2; }

.section3 {
  grid-area: section3; }

.section4 {
  grid-area: section4; }

footer {
  grid-area: footer; }

.footer {
  position: block;
  text-align: center;
  background-color: #F2F2F2; }
  .footer__redeSociales {
    background-color: #252526; }
  .footer__imagen {
    padding-top: 0.1875rem;
    width: 2.5rem;
    height: 2.5rem; }
  .footer__copy {
    color: #F2F2F2; }
  .footer__logo {
    width: auto;
    height: 3rem; }

body {
  background-color: #F2F2F2; }

/*Themes*/
.page_404 {
  padding: 2.5rem 0;
  background: white;
  display: flex;
  justify-content: center; }

.page_404 img {
  width: 100%; }

.four_zero_four_bg {
  background-image: url("/imagenes/404.gif");
  height: 25rem;
  background-position: center; }

.four_zero_four_bg h1 {
  font-size: 5rem; }

.four_zero_four_bg h3 {
  font-size: 5rem; }

.link_404 {
  color: #fff !important;
  padding: 0.625rem 1.25rem;
  background: #39ac31;
  margin: 1.25rem 0;
  display: inline-block; }

.contant_box_404 {
  margin-top: -3.125rem; }

/*secciones*/
/*Whatsapp*/
.float {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: #25d366;
  color: #FFF;
  border-radius: 3.125rem;
  text-align: center;
  font-size: 1.875rem;
  box-shadow: 0.125rem 0.125rem 0.1875rem #F2F2F2;
  z-index: 100; }

.my-float {
  margin-top: 1rem; }

/*Seccion1*/
.section1-gif {
  background-color: #222222;
  margin-top: .2rem; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section1-gif {
      padding-top: 10rem;
      height: 35rem; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section1-gif {
      height: 30rem; } }
  .section1-gif__imagen {
    object-fit: cover;
    width: 90%; }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-gif__imagen {
        padding-top: 5rem; } }

/*Seccion 2*/
.section2-pasos {
  margin: 10rem 0 10rem 0;
  padding: 5rem; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section2-pasos {
      margin-top: 0; } }
  .section2-pasos__titulo {
    margin-bottom: 5rem; }

.card {
  padding: 2.5rem 1.25rem;
  position: relative;
  display: block;
  background: #9a93a7; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .card {
      margin-bottom: 5rem; } }

.card:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
  left: 0;
  top: 0;
  pointer-events: none; }

.card:before {
  content: "";
  height: 100%;
  width: 100%;
  background: #9a93a7;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  transform: skew(4deg, 4deg); }

.card .step {
  position: absolute;
  font-size: 6rem;
  right: 20px;
  top: 0;
  color: rgba(255, 255, 255, 0.5);
  transform: translateY(30px);
  transition: all ease 0.5s; }

.card:hover .step {
  transform: translateY(-50px); }

.card p {
  font-size: 16px;
  margin: 50px 0 20px;
  z-index: 1;
  color: #fff; }

.card a {
  display: inline-block;
  line-height: 40px;
  border: 1px solid #fff;
  padding: 0 10px;
  color: #fff;
  background: #9a93a7;
  transition: all ease 0.5s;
  transform: translateY(-50px);
  opacity: 0;
  border-radius: 2px; }

.card:hover a {
  transform: translateY(0px);
  opacity: 1; }

.card a:hover {
  background: #fff;
  color: #9a93a7;
  text-decoration: none; }

/*Seccion 3*/
.section3-testimonios {
  height: auto;
  background-color: #9a93a7; }
  .section3-testimonios__titulo {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    margin: 0 0 2rem 4rem;
    color: #F2F2F2; }
  .section3-testimonios .carousel {
    width: 45rem;
    margin-left: 20rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-testimonios .carousel {
        width: 85%;
        margin: 0;
        padding: 0 0 2rem 2rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section3-testimonios .carousel {
        margin-left: 0;
        width: 80%; } }

/*Seccion 4*/
.section4-wrapper__wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 55rem;
  margin: 1rem; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section4-wrapper__wrapper {
      overflow: hidden;
      margin: 0;
      right: 3rem;
      width: 100%; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section4-wrapper__wrapper {
      width: 22rem;
      overflow: hidden; } }

.section4-wrapper .typing-demo {
  width: 100%;
  height: 4rem;
  animation: typing 2s steps(22), blink 0.5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 3rem;
  color: #252526;
  margin-top: 10rem; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section4-wrapper .typing-demo {
      font-size: 1rem;
      margin: 5rem 0 0 4rem;
      height: 1.5rem; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section4-wrapper .typing-demo {
      width: 100%;
      font-size: 1.5rem;
      height: 2rem; } }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

.section4-wrapper .rounded {
  width: 22rem;
  position: absolute;
  right: 3rem;
  margin-top: 10rem; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section4-wrapper .rounded {
      width: 13rem;
      right: 2rem;
      padding-left: 2rem; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section4-wrapper .rounded {
      width: 13rem;
      margin-top: 15rem;
      margin-left: 3rem; } }

.section1-Acerca {
  margin-bottom: 3.5rem;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section1-Acerca {
      display: flex;
      flex-direction: column;
      width: 22rem; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section1-Acerca {
      width: 70.2rem;
      margin: 0; } }
  .section1-Acerca__imagen {
    height: 20rem;
    width: auto;
    margin: 10rem 0 0 0; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-Acerca__imagen {
        width: 20rem;
        height: auto;
        margin-top: 0;
        margin-left: 2rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-Acerca__imagen {
        width: 40rem;
        height: auto; } }
  .section1-Acerca__circulo {
    position: absolute;
    margin: 0 5rem 15rem 0rem;
    width: 35rem;
    height: auto; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-Acerca__circulo {
        width: 20rem;
        margin: 0; } }
  .section1-Acerca__ingresar {
    margin-left: 31rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-Acerca__ingresar {
        margin: 0; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-Acerca__ingresar {
        margin: 1rem 0 0 0; } }
  .section1-Acerca__bloque {
    position: sticky;
    margin: 5rem 0 5rem 3rem;
    text-align: justify;
    color: #252526;
    width: 40rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-Acerca__bloque {
        margin: 1rem;
        width: 21rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-Acerca__bloque {
        width: 25rem;
        margin: 3rem; } }
  .section1-Acerca__titulo {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    letter-spacing: 0;
    width: 45rem;
    position: sticky; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-Acerca__titulo {
        width: 90%;
        font-size: 1.5rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-Acerca__titulo {
        width: 25rem;
        font-size: 1.5rem; } }
  .section1-Acerca__texto {
    text-align: justify;
    color: #252526;
    width: 40rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-Acerca__texto {
        margin: 0;
        font-size: 1rem;
        width: 90%; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-Acerca__texto {
        width: 25rem;
        text-align: justify;
        font-size: 1rem;
        margin: 0;
        position: relative; } }

.section2-significado {
  height: auto;
  background-color: #a6f1bd;
  border: solid #a6f1bd; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section2-significado {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #a6f1bd; } }
  .section2-significado__bloque {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 5rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-significado__bloque {
        display: flex;
        flex-direction: column;
        width: 22rem; } }
  .section2-significado__bloque1 {
    margin: 5rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-significado__bloque1 {
        margin: 0;
        padding: 1rem;
        width: 22rem; } }
  .section2-significado__titulo {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    letter-spacing: 0;
    width: 45rem;
    position: sticky; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-significado__titulo {
        width: 20rem;
        font-size: 1.5rem;
        margin: 5%; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-significado__titulo {
        position: relative;
        font-size: 2rem;
        width: 18rem; } }
  .section2-significado__imagen {
    margin-top: 5rem;
    height: 20rem;
    width: auto; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-significado__imagen {
        width: 25rem;
        height: auto; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-significado__imagen {
        width: 40rem;
        margin-left: 1rem;
        margin-top: 15rem; } }
  .section2-significado__ingresar {
    margin-left: 15rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-significado__ingresar {
        position: absolute;
        height: 2rem;
        font-size: .8rem;
        margin: 5%; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-significado__ingresar {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        margin-top: 1rem;
        margin-left: 5rem;
        position: absolute; } }
  .section2-significado__texto {
    width: 40rem;
    text-align: justify; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-significado__texto {
        font-size: 1rem;
        width: 20rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-significado__texto {
        width: 21rem; } }

.section3-atencion {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section3-atencion {
      display: flex;
      flex-direction: column;
      width: 22rem; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section3-atencion {
      width: 70.2rem;
      margin: 0; } }
  .section3-atencion__titulo {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    color: #252526; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-atencion__titulo {
        width: 90%;
        font-size: 1.5rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section3-atencion__titulo {
        width: 25rem;
        font-size: 1.5rem; } }
  .section3-atencion__imagen {
    height: 30rem;
    width: auto;
    margin: 4rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-atencion__imagen {
        height: 20rem;
        margin: 5rem; } }
  .section3-atencion__ingresar {
    margin-left: 15rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-atencion__ingresar {
        margin: 0; } }
  .section3-atencion__parrafo {
    position: sticky;
    margin: 8rem;
    width: 30rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-atencion__parrafo {
        margin: 1rem;
        font-size: 1rem;
        width: 90%; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section3-atencion__parrafo {
        width: 25rem;
        text-align: justify;
        font-size: 1.5rem;
        margin: 0;
        position: relative; } }
  .section3-atencion__circulo {
    position: absolute; }

.section1-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #F2F2F2; }
  .section1-contacto__div {
    background-color: #c6f3ff;
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    margin: 10rem 0rem 0rem 4rem; }
  .section1-contacto__imagen {
    height: auto;
    width: 20rem;
    margin: 5rem; }
  .section1-contacto__formulario {
    margin: 10rem;
    background-color: #c6f3ff;
    height: 40rem;
    width: 30rem;
    border-radius: 10%; }
  .section1-contacto .inputcaja {
    color: #252526;
    padding: 1rem; }
  .section1-contacto .textarea {
    margin-left: 0.75rem;
    height: 12.5rem;
    width: 26.25rem;
    border-radius: 5%; }
  .section1-contacto .tituloContacto {
    margin-left: 25%;
    color: #252526; }
  .section1-contacto .recaptcha {
    margin-left: 0.75rem; }
  .section1-contacto .g-recaptcha {
    margin-bottom: 0.9375rem; }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section1-contacto .section1-contacto {
      display: flex;
      flex-direction: column; } }
  .section1-contacto .reset {
    height: 2rem;
    width: 5rem;
    margin-left: 2rem;
    background-color: #F2F2F2; }
  .section1-contacto .enviar {
    height: 2rem;
    width: 5rem;
    margin-left: 2rem;
    background-color: #F2F2F2; }

.section1__ingresar {
  margin-top: 8rem; }
  .section1__ingresar a {
    cursor: pointer;
    transition: all 200ms linear; }
  .section1__ingresar a:hover {
    text-decoration: none; }
  .section1__ingresar .link {
    color: #252526; }
  .section1__ingresar .link:hover {
    color: #e7b1d7; }
  .section1__ingresar p {
    font-weight: 500;
    line-height: 1.7; }
    .section1__ingresar p {
      font-size: 1.5rem; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .section1__ingresar p {
        font-size: calc(1.5rem + num(1rem)-num(1.5rem) * (100vw - 768px) / num(1024px)-num(768px)); } }
    @media (min-width: 1024px) {
      .section1__ingresar p {
        font-size: 1rem; } }
  .section1__ingresar h4 {
    font-weight: 600; }
  .section1__ingresar h6 span {
    text-transform: uppercase;
    font-weight: 700;
    color: #252526;
    margin-left: 30%; }
  .section1__ingresar .section {
    position: relative;
    width: 100%;
    display: block; }
  .section1__ingresar .full-height {
    min-height: 100vh; }
  .section1__ingresar [type="checkbox"]:checked,
  .section1__ingresar [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .section1__ingresar .checkbox:checked + label,
  .section1__ingresar .checkbox:not(:checked) + label {
    position: relative;
    display: block;
    text-align: center;
    width: 3.75rem;
    height: 1rem;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0.625rem auto;
    cursor: pointer;
    background-color: #e7b1d7; }
  .section1__ingresar .checkbox:checked + label:before,
  .section1__ingresar .checkbox:not(:checked) + label:before {
    position: absolute;
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: #e7b1d7;
    content: '\eb4f';
    z-index: 20;
    top: -0.625rem;
    left: -0.625rem;
    line-height: 2.25rem;
    text-align: center;
    font-size: 1.5rem;
    transition: all 0.5s ease; }
  .section1__ingresar .checkbox:checked + label:before {
    transform: translateX(2.75rem) rotate(-270deg); }
  .section1__ingresar .card-3d-wrap {
    position: relative;
    width: 27.5rem;
    max-width: 100%;
    height: 25rem;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 50rem;
    margin-top: 3.75rem; }
  .section1__ingresar .card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out; }
  .section1__ingresar .card-front,
  .section1__ingresar .card-back {
    width: 100%;
    height: 100%;
    background-color: #e7b1d7;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 0.375rem;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  .section1__ingresar .card-back {
    transform: rotateY(180deg); }
  .section1__ingresar .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg); }
  .section1__ingresar .center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 2.1875rem;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 2.1875rem) perspective(6.25rem);
    z-index: 20;
    display: block; }
  .section1__ingresar .form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0; }
  .section1__ingresar .form-style {
    padding: 0.8125rem 1.25rem;
    padding-left: 3.4375rem;
    height: 3rem;
    width: 100%;
    font-weight: 500;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: 0.0313rem;
    outline: none;
    color: #252526;
    background-color: #F2F2F2;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(21, 21, 21, 0.2); }
  .section1__ingresar .form-style:focus,
  .section1__ingresar .form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(21, 21, 21, 0.2); }
  .section1__ingresar .form-group input:-ms-input-placeholder {
    color: #252526;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
  .section1__ingresar .form-group input::-moz-placeholder {
    color: #252526;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
  .section1__ingresar .form-group input:-moz-placeholder {
    color: #252526;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
  .section1__ingresar .form-group input::-webkit-input-placeholder {
    color: #252526;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
  .section1__ingresar .form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
  .section1__ingresar .form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
  .section1__ingresar .form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
  .section1__ingresar .form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
  .section1__ingresar .btn {
    border-radius: 0.25rem;
    height: 2.75rem;
    font-size: 0.8125rem;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 1.875rem;
    letter-spacing: 0.0625rem;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #252526;
    color: #F2F2F2;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(255, 235, 167, 0.2); }
  .section1__ingresar .btn:active,
  .section1__ingresar .btn:focus {
    background-color: #F2F2F2;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(16, 39, 112, 0.2); }
  .section1__ingresar .btn:hover {
    background-color: #F2F2F2;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(16, 39, 112, 0.2); }

.section1-quienes {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section1-quienes {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      overflow: hidden; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section1-quienes {
      width: 70.2rem;
      margin: 0; } }
  .section1-quienes__imagen {
    margin: 2rem 0 0 2rem;
    width: 20rem;
    height: 30rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-quienes__imagen {
        width: 15rem;
        height: auto;
        margin-left: 5rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-quienes__imagen {
        margin-left: 2rem;
        width: 25rem;
        height: auto; } }
  .section1-quienes__bloque {
    margin-top: 10rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-quienes__bloque {
        margin: 15%; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-quienes__bloque {
        width: 25rem;
        margin: 3rem; } }
  .section1-quienes__texto {
    text-align: justify;
    color: #252526;
    width: 40rem;
    position: sticky; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-quienes__texto {
        margin: 0;
        font-size: 1rem;
        width: 90%; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-quienes__texto {
        width: 25rem;
        text-align: justify;
        font-size: 1.5rem;
        margin: 0;
        position: relative; } }
  .section1-quienes__titulo {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    letter-spacing: 0;
    width: 45rem;
    position: sticky; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-quienes__titulo {
        width: 90%;
        font-size: 1.5rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-quienes__titulo {
        width: 25rem;
        font-size: 1.5rem; } }
  .section1-quienes__circulo {
    position: absolute;
    margin: 0 0 10rem 40rem;
    width: 30rem;
    height: auto; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-quienes__circulo {
        width: 20rem;
        margin: 30rem 0 0 0; } }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section1-quienes__ingresar {
      position: absolute;
      margin-top: 2rem;
      height: 2rem;
      font-size: .8rem; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section1-quienes__ingresar {
      width: 10rem;
      height: 3rem;
      font-size: 1rem;
      margin-top: 1rem;
      margin-left: 5rem;
      position: absolute; } }

.section2-importancia {
  height: auto;
  background-color: #ffef9b;
  border: solid #ffef9b;
  width: 100%; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section2-importancia {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #ffef9b; } }
  .section2-importancia__bloque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-importancia__bloque {
        display: flex;
        flex-direction: column; } }
  .section2-importancia__bloque1 {
    margin: 5rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-importancia__bloque1 {
        margin: 0;
        padding: 1rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-importancia__bloque1 {
        margin: 0;
        padding: 4rem; } }
  .section2-importancia__texto {
    text-align: justify;
    color: #252526;
    width: 40rem;
    position: sticky; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-importancia__texto {
        font-size: 1rem;
        width: 20rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-importancia__texto {
        width: 21rem; } }
  .section2-importancia__titulo {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    letter-spacing: 0;
    width: 45rem;
    position: sticky; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-importancia__titulo {
        width: 20rem;
        font-size: 1.5rem;
        margin: 5%; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-importancia__titulo {
        position: relative;
        font-size: 2rem;
        width: 18rem; } }
  .section2-importancia__imagen {
    height: auto;
    width: 100%; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-importancia__imagen {
        width: 15rem;
        height: auto;
        margin: 3rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-importancia__imagen {
        width: 30rem;
        margin-left: 1rem;
        margin-top: 5rem; } }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section2-importancia__ingresar {
      position: absolute;
      height: 2rem;
      font-size: .8rem;
      margin: 5%; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section2-importancia__ingresar {
      width: 10rem;
      height: 3rem;
      font-size: 1rem;
      margin-top: 1rem;
      margin-left: 5rem;
      position: absolute; } }

.section3-quienes {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section3-quienes {
      display: flex;
      flex-direction: column;
      width: 22.5rem;
      overflow: hidden;
      margin: 10%; } }
  .section3-quienes__imagen {
    margin: 2rem 0 0;
    width: 30rem;
    height: auto; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-quienes__imagen {
        width: 15rem;
        height: auto;
        margin: 3rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section3-quienes__imagen {
        width: 30rem;
        margin-left: 2rem; } }
  .section3-quienes__bloque {
    margin-top: 10rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-quienes__bloque {
        padding: 1rem;
        margin: 0; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section3-quienes__bloque {
        margin: 0;
        padding: 1rem; } }
  .section3-quienes__texto {
    text-align: justify;
    color: #252526;
    width: 40rem;
    position: sticky; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-quienes__texto {
        margin: 0;
        font-size: 1rem;
        width: 90%; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section3-quienes__texto {
        width: 21rem; } }
  .section3-quienes__titulo {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    letter-spacing: 0;
    width: 45rem;
    position: sticky; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-quienes__titulo {
        width: 21rem;
        font-size: 1.5rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section3-quienes__titulo {
        position: relative;
        font-size: 2rem;
        width: 18rem; } }
  .section3-quienes__circulo {
    position: absolute;
    margin: 0 0 10rem 40rem;
    width: 30rem;
    height: auto; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section3-quienes__circulo {
        width: 20rem;
        margin: 15rem 0 0 0; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section3-quienes__circulo {
        width: 20rem;
        margin: 8rem 0rem 0 40rem; } }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section3-quienes__ingresar {
      position: absolute;
      margin-top: 2rem;
      height: 2rem;
      font-size: .8rem; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section3-quienes__ingresar {
      width: 10rem;
      height: 3rem;
      font-size: 1rem;
      margin-top: 1rem;
      margin-left: 5rem;
      position: absolute; } }

/*Services Styles*/
@media screen and (max-width: 425px) and (min-width: 320px) {
  .section4__service {
    display: flex;
    flex-direction: column;
    width: 22.5rem;
    overflow: hidden;
    padding: 2rem; } }

@media screen and (max-width: 768px) and (min-width: 768px) {
  .section4__service {
    margin: 10rem; } }

.services {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F2F2F2;
  margin: 5rem;
  overflow: hidden; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .services {
      margin: 15%;
      width: 15rem; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .services {
      width: 30rem;
      margin: 10rem; } }
  .services__titulo {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    letter-spacing: 0;
    width: 45rem;
    position: sticky; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .services__titulo {
        font-size: 100%; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .services__titulo {
        position: relative;
        font-size: 2rem;
        width: 100%; } }
  .services__imagen {
    height: 25rem;
    margin-left: 5rem; }
  .services__box {
    position: relative;
    width: 21.875rem;
    height: 17.5rem;
    background: #ffef9b;
    border-radius: 1.25rem;
    overflow: hidden; }
    .services__box:hover .services__content {
      transform: scale(1);
      transition-delay: 0.25s; }
    .services__box:hover .services__icon {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      top: 1.875rem;
      left: calc(50% - 2.5rem);
      transition-delay: 0s; }
      .services__box:hover .services__icon ion-icon {
        font-size: 2rem;
        transition-delay: 0s; }
  .services__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffef9b;
    transition: 0.5s;
    z-index: 2;
    transition-delay: 0.25s; }
    .services__icon ion-icon {
      font-size: 4rem;
      color: #252526;
      font-weight: bold;
      transition: 0.5s;
      transition-delay: 0s; }
  .services__content {
    position: relative;
    color: #252526;
    padding: 1.25rem;
    text-align: center;
    margin-top: 6.25rem;
    z-index: 1;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s; }
  .services__title {
    margin: 0.625rem 0 0.3125rem 0;
    font-size: 19.2px;
    font-weight: 600; }
  .services__description {
    font-size: 0.95rem;
    font-weight: 400;
    padding-top: 0.625rem; }

.section1-como {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section1-como {
      display: flex;
      flex-direction: column;
      margin: 0; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section1-como {
      width: 70.2rem;
      margin: 1rem; } }
  .section1-como__texto {
    margin-top: 10%;
    text-align: justify;
    color: #252526;
    width: 40rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-como__texto {
        font-size: 1rem;
        width: 90%;
        margin-left: 1.5rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-como__texto {
        width: 30rem;
        text-align: justify;
        font-size: 1rem;
        padding: 2rem;
        position: relative; } }
  .section1-como__titulo {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    color: #252526; }
  .section1-como__imagen {
    margin: 2rem 0 0 2rem;
    width: 30rem;
    height: auto; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-como__imagen {
        width: 20rem;
        height: auto;
        margin-left: 1rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section1-como__imagen {
        margin-left: 2rem;
        width: 25rem;
        height: auto; } }
  .section1-como__circulo {
    position: absolute;
    width: 40rem;
    height: auto; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section1-como__circulo {
        width: 20rem;
        margin: 30rem 0 0 0; } }

.section2-emociones {
  height: auto;
  background-color: #ff7469;
  border: solid #ff7469; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section2-emociones {
      margin: 0; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section2-emociones {
      margin: 0; } }
  .section2-emociones__bloque {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 5rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-emociones__bloque {
        display: flex;
        flex-direction: column; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-emociones__bloque {
        display: flex;
        flex-direction: row;
        margin: 0; } }
  .section2-emociones__bloque1 {
    margin: 5rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-emociones__bloque1 {
        margin: 0;
        padding: 2rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-emociones__bloque1 {
        margin: 1rem; } }
  .section2-emociones__titulo {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    color: #252526; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-emociones__titulo {
        width: 90%;
        font-size: 1.5rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-emociones__titulo {
        width: 25rem;
        font-size: 1.5rem; } }
  .section2-emociones__imagen {
    height: auto;
    width: 50rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-emociones__imagen {
        width: 30rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-emociones__imagen {
        width: 40rem;
        height: auto;
        margin-top: 15rem; } }
  .section2-emociones__ingresar {
    margin-left: 15rem; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-emociones__ingresar {
        margin-top: 2rem;
        margin-left: 0; } }
  .section2-emociones__texto {
    width: 40rem;
    text-align: justify; }
    @media screen and (max-width: 425px) and (min-width: 320px) {
      .section2-emociones__texto {
        margin: 0;
        font-size: 1rem;
        width: 20rem;
        padding: 1rem; } }
    @media screen and (max-width: 768px) and (min-width: 768px) {
      .section2-emociones__texto {
        width: 25rem;
        text-align: justify;
        font-size: 1rem;
        margin: 0;
        position: relative; } }

.section3-card__cubos {
  background: #F2F2F2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  font-family: "Open Sans";
  margin-bottom: 10rem; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section3-card__cubos {
      height: auto; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section3-card__cubos {
      height: auto; } }

.section3-card__titulo {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3.125rem;
  color: #252526;
  margin: 0 0 5rem 5rem; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .section3-card__titulo {
      width: 100%;
      font-size: 1.5rem;
      margin-left: .5rem; } }
  @media screen and (max-width: 768px) and (min-width: 768px) {
    .section3-card__titulo {
      width: 25rem;
      font-size: 1.5rem; } }

.flip {
  position: relative; }
  .flip > .front,
  .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .5s;
    transition-property: transform, opacity; }
  .flip > .front {
    transform: rotateY(0deg); }
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg); }
  .flip:hover > .front {
    transform: rotateY(180deg); }
  .flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg); }
  .flip.flip-vertical > .back {
    transform: rotateX(-180deg); }
  .flip.flip-vertical:hover > .front {
    transform: rotateX(180deg); }
  .flip.flip-vertical:hover > .back {
    transform: rotateX(0deg); }

.flip {
  position: relative;
  display: inline-block;
  margin-right: 0.125rem;
  margin-bottom: 1em;
  width: 560px; }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    .flip {
      width: 18.75rem;
      height: auto; } }
  .flip > .front,
  .flip > .back {
    display: block;
    color: #252526;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 20rem;
    padding: 1em 2em;
    background: #ff7469;
    border-radius: 10px; }
    .flip > .front p,
    .flip > .back p {
      font-size: 1rem;
      line-height: 160%;
      color: #252526; }
      @media screen and (max-width: 425px) and (min-width: 320px) {
        .flip > .front p,
        .flip > .back p {
          font-size: .8rem; } }

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04); }
