  @import "../utilities/variables";

  .footer {
      position: block;
      text-align: center;
      background-color: $colorfondo;
  
        &__redeSociales {
           background-color: $colorletra;
        }
        
        &__imagen {
        padding-top: 0.1875rem;
        width: 2.5rem;
        height: 2.5rem;
        }

        &__copy{
          color: $colorfondo;
        }

        &__logo{
          width: auto;
          height: 3rem;
        }

    }