 $colorletra: #252526;
 $colorfondo: #F2F2F2;
 $grisclaro: #8C8C8C;
 $grisclaro2: #BFBFBF;
 $grisbotones: #3E3E40;

 $titulo: 2.5rem;

 $amarillo: #ffef9b;
 $verde: #a6f1bd;
 $rojo: #ff7469;
 $celeste: #c6f3ff;
 $gris: #9a93a7;


 