@import "../utilities/variables";

.section1-Acerca{
  margin-bottom: 3.5rem;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

    &__imagen {
    height: 20rem;
    width: auto;
    margin: 10rem 0 0 0;
    }

    &__bloque {
    margin: 10rem 0 0 3rem;
    text-align: justify;
    color: #F2F2F2;
    width: 40rem;
    }

    &__ingresar{
      margin-left: 31rem;
    } 

  }

  
  .section2-significado {
    height: auto;
    background-color: $grisclaro;
    border: solid $grisclaro;

    &__bloque{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5rem;
    }

    &__bloque1{
      margin: 5rem;
    }

    &__titulo{
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 3.125rem;
      color: $colorfondo;
    }

    &__imagen{
      margin-top: 5rem;
      height: 20rem;
      width: auto;
    }

    &__ingresar{
      margin-left: 15rem;
    }

    &__texto{
      width: 40rem;
      text-align: justify;
    }
}

.section3-atencion {
  height: auto;

  &__bloque{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__bloque1{
    margin: 10rem;
  }

  &__titulo{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    color: $colorletra;
  }

  &__imagen{
    height: auto;
    width: 40rem;
  }

  &__ingresar{
    margin-left: 15rem;
  }

  &__texto{
    width: 40rem;
    text-align: justify;
    color: $colorletra;
  }
}