@import "../utilities/variables";

.section1-Acerca{
  margin-bottom: 3.5rem;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @include movil {
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

    &__imagen {
    height: 20rem;
    width: auto;
    margin: 10rem 0 0 0;

    @include tablet {
      width: 10rem;
    }

    }

    &__bloque {
    margin: 10rem 0 0 3rem;
    text-align: justify;
    color: $colorletra;
    width: 40rem;

    @include movil{
      width: 40rem;
    }
    }

    &__circulo {
      position: absolute;
      margin: 0 5rem 15rem 0rem;
      width: 35rem;
      height: auto;
    }
    &__ingresar{
      margin-left: 31rem;

      @include movil{
       margin-left: 30rem;
      }
    } 
    &__bloque {
      position: sticky;
      margin: 5rem 0 5rem 3rem;
    }
    &__texto {
      text-align: justify;
      color: $colorletra;
      width: 40rem;
      @include movil {
        font-size: 3rem;
      }
    }

  }

  
  .section2-significado {
    height: auto;
    background-color: $verde;
    border: solid $verde;

    &__bloque{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 5rem;

      @include movil {
        display: flex;
        flex-direction: column;
      }
    }

    &__bloque1{
      margin: 5rem;
      @include movil {

      }
    }

    &__titulo{
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 3.125rem;
      color: $colorletra;
    }

    &__imagen{
      margin-top: 5rem;
      height: 20rem;
      width: auto;
    }

    &__ingresar{
      margin-left: 15rem;
    }

    &__texto{
      width: 40rem;
      text-align: justify;
    }
}

.section3-atencion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   
  @include movil {
    display: flex;
    flex-direction: column;
  }

  &__titulo{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    color: $colorletra;
  }

  &__imagen{
    height: 30rem;
    width: auto;
  }

  &__ingresar{
    margin-left: 15rem;
  }

  &__parrafo{
    position: sticky;
    margin: 10rem;
    width: 40rem;
  }

  &__circulo {
    position: absolute;
  }
}