@import "../utilities/variables";

.section1-como {
height: auto;
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 6rem 0 5rem 6rem;

  &__texto {
  margin-top: 10%;
  text-align: justify;
  color: $colorletra;
  }

  &__titulo {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    color: $colorletra;
  }

  #container{
    position: relative;
    display: inline-block;
    text-align: center;
    color: $colorletra;
    font-family: 'Montserrat', sans-serif;
  }
  
  #scale{
    transform: rotateX(180deg);
    stroke-width: 50;
    fill: none;
  }
  
  #YAS{
    stroke: #29ce58;
    stroke-dasharray: 471, 943;
  }
  
  #Yeah{
    stroke: #87d19c;
    stroke-dasharray: 393, 943;
  }
  
  #Mmkay{
    stroke: #ffd651;
    stroke-dasharray: 315, 943;
  }
  
  #Ouch{
    stroke: #ef961a;
    stroke-dasharray: 237, 943;
  }
  
  #Owwwww{
    stroke: #f26d0e;
    stroke-dasharray: 159, 943;
  }
  
  #AHHHHHHH{
    stroke: #ce2d2d;
    stroke-dasharray: 81, 943;
  }
  
  #needle{
    fill: $grisclaro;
  }
  
  .faces{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 37%;
    left: 40%;
  }
  
  .faces #YAS, .faces #Yeah, .faces #Mmkay, .faces #Owwwww, .faces #AHHHHHHH{
    visibility: hidden;
  }
  
  #slider, #level {
    position: absolute;
  }
  
  h1 {
    top: 60%;
    left: 0;
    margin: auto;
    right: 0;
    font-size: 1.5em;
  }
  
  #slider {
    cursor: pointer;
    left: 0;
    margin: auto;
    right: 0;
    top: 70%;
    width: 50%;
    -webkit-appearance: none;
    border-radius: 0.625rem;
    height: 0.9375rem;
    background-color: $grisclaro; 
  }
  
  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.25rem;
    width: 0.9375rem;
    border-radius: 0.1875rem;
    background: #ffffff;
    cursor: pointer;
  }
  
  #slider:focus {
    outline: none; 
  }
  
  #level {
    font-size: 15pt;
    font-weight: bold;
    top: 75%;
    width: 10%;
    left: 45%;
    visibility: hidden;
    font-size: .9em;
    color: $colorletra;
  }
  }



.section2-emociones {
    height: auto;
    background-color: $rojo;
    border: solid $rojo;

    &__bloque{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5rem;
    }

    &__bloque1{
      margin: 5rem;
    }

    &__titulo{
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 3.125rem;
      color: $colorletra;
    }

    &__imagen{
      height: auto;
      width: 50rem;
    }

    &__ingresar{
      margin-left: 15rem;
    }

    &__texto{
      width: 40rem;
      text-align: justify;
    }

}

.section3-card {
  &__cubos { 
    background: $colorfondo;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    font-family: "Open Sans";
    margin-bottom: 10rem;
  }
    &__titulo{
        color: $colorletra;
        margin: 0 0 5rem 5rem;
        
    }

}

  // base
  .flip {
    position: relative;

    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
        
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front {
                transform: rotateX(180deg);
            }
            >.back {
                transform: rotateX(0deg);
            }
        }
    }
  }

  // custom
  .flip {
    position: relative;
    display: inline-block;
    margin-right: 0.125rem;
    margin-bottom: 1em;
    width: 560px;
   
    >.front,
    >.back {
      display: block;
      color: $colorletra;
      width: inherit;
      background-size: cover!important;
      background-position: center!important;
      height: 320px;
      padding: 1em 2em;
      background: $rojo;
      border-radius: 10px;
      
      p {
        font-size:1rem;
        line-height: 160%;
        color: $colorletra;
      }
    }
  }

  .text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
  }

