@import "../utilities/variables";
@import "../utilities/mixins";

  .section1-contacto {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      color: $celeste;
  }

