@import "../utilities/variables";
@import "../utilities/mixins";

.section1-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $colorfondo;

  @include movil {
    width: 26.5625rem;
    height: auto;
  }
  
  &__div{
    background-color: $celeste;
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    margin: 10rem 0rem 0rem 4rem;

    @include movil {
      margin: 0;
      width: 20rem;
      height: 20rem;
      margin: 2rem 0 3rem 2rem;
    }
  }

  &__imagen {
  height: auto;
  width: 20rem;
  margin: 5rem;

  @include movil {
    margin: 0;
  }
}

  &__formulario {
    margin: 10rem;
    background-color: $celeste;
    height: 53rem;
    width: 30rem;
    border-radius: 10%;   
    
    @include movil {
      width: 26.5rem;
      margin: 0;
      height: 55rem;
      overflow: hidden;
    }
    
}

.inputcaja {
    color: $colorletra;
    padding: 0 1rem 0 1rem;
}

#nombre {
  margin-bottom: 2rem;
  width: 100%;
  height: 2rem;
}

#apellido{
  margin-bottom: 2rem;
  width: 100%;
  height: 2rem;
}

#celular{
  margin-bottom: 2rem;
  width: 100%;
  height: 2rem;
}

#email{
  margin-bottom: 2rem;
  width: 100%;
  height: 2rem;
}

.textarea {
    margin: 2rem;
    height: 10rem;
    width: 26.25rem;
    border-radius: 5%;

    @include movil {
      width: 24rem;
      margin: 1rem;
    }
}

.tituloContacto {
    margin-left: 25%;
    color: $colorletra;
}

.recaptcha {
    margin-left: 2rem;
}

.g-recaptcha {
    margin-bottom: 0.9375rem;
}


.reset {
  height: 3rem;
  width: 5rem;
  margin-left: 2rem;
  background-color: $colorletra;
  color: $colorfondo;
  border-radius: 30%;
}

.enviar {
  height: 3rem;
  width: 5rem;
  margin-left: 2rem;
  background-color: $colorletra;
  color: $colorfondo;
  border-radius: 30%;
}
}