@import "../utilities/variables";

.section1__ingresar {  
      margin-top: 8rem;
      
    @include movil {
        width: 26.5625rem;
        border: solid rebeccapurple;
    }
        a {
        cursor: pointer;
        transition: all 200ms linear;
        }

        a:hover {
            text-decoration: none;
        }

        .link {
            color: $colorletra;
        }

        .link:hover {
            color: $rosado;
        }

        p {
            font-weight: 500;
            @include font-size (1.5rem, 1rem);
            line-height: 1.7;
        }

        h4 {
            font-weight: 600;

        }
        
     
        h6 span {
        text-transform: uppercase;
        font-weight: 700;
        color: $colorletra;
        }

        .span1 {
            margin-left: 30rem;
            @include movil {
                margin-left: 3rem;
            }
        }

        .span2 {
            margin-left: 15rem;
            @include movil {
                margin-left: 10rem;
            }
        }

        .section {
            position: relative;
            width: 100%;
            display: block;
        }

        .full-height {
            min-height: 100vh;

        }

        [type="checkbox"]:checked,
        [type="checkbox"]:not(:checked) {
            position: absolute;
            left: -9999px;

        }

        .checkbox:checked+label,
        .checkbox:not(:checked)+label {
            position: relative;
            display: block;
            text-align: center;
            width: 3.75rem;
            height: 1rem;
            border-radius: 0.5rem;
            padding: 0;
            margin: 0.625rem auto;
            cursor: pointer;
            background-color: $rosado;
        }

        .checkbox:checked+label:before,
        .checkbox:not(:checked)+label:before {
            position: absolute;
            display: block;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            background-color: $rosado;
            content: '\eb4f';
            z-index: 20;
            top: -0.625rem;
            left: -0.625rem;
            line-height: 2.25rem;
            text-align: center;
            font-size: 1.5rem;
            transition: all 0.5s ease;
        }

        .checkbox:checked+label:before {
            transform: translateX(2.75rem) rotate(-270deg);
        }


        .card-3d-wrap {
            position: relative;
            width: 27.5rem;
            max-width: 100%;
            height: 25rem;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            perspective: 50rem;
            margin-top: 3.75rem;
        }

        .card-3d-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transition: all 600ms ease-out;

            @include movil {
                width: 24rem;
                margin-left: 1rem;
            }
        }

        .card-front,
        .card-back {
            width: 100%;
            height: 100%;
            background-color: $rosado;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: 300%;
            position: absolute;
            border-radius: 0.375rem;
            left: 0;
            top: 0;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .card-back {
            transform: rotateY(180deg);
        }

        .checkbox:checked~.card-3d-wrap .card-3d-wrapper {
            transform: rotateY(180deg);
        }

        .center-wrap {
        position: absolute;
        width: 100%;
        padding: 0 2.1875rem;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 2.1875rem) perspective(6.25rem);
        z-index: 20;
        display: block;
        }


        .form-group {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        }

        .form-style {
        padding: 0.8125rem 1.25rem;
        padding-left: 3.4375rem;
        height: 3rem;
        width: 100%;
        font-weight: 500;
        border-radius: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.375rem;
        letter-spacing: 0.0313rem;
        outline: none;
        color: $colorletra;
        background-color: $colorfondo;
        border: none;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(21, 21, 21, .2);
        }

        .form-style:focus,
        .form-style:active {
            border: none;
            outline: none;
            box-shadow: 0 0.25rem 0.5rem 0 rgba(21, 21, 21, .2);
        }

        .form-group input:-ms-input-placeholder {
            color: $colorletra;
            opacity: 0.7;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input::-moz-placeholder {
            color: $colorletra;
            opacity: 0.7;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input:-moz-placeholder {
            color: $colorletra;
            opacity: 0.7;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input::-webkit-input-placeholder {
            color: $colorletra;
            opacity: 0.7;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input:focus:-ms-input-placeholder {
            opacity: 0;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
        }

        .form-group input:focus::-moz-placeholder {
        opacity: 0;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        }

        .form-group input:focus:-moz-placeholder {
        opacity: 0;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        }

        .form-group input:focus::-webkit-input-placeholder {
        opacity: 0;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        }

        .btn {
        border-radius: 0.25rem;
        height: 2.75rem;
        font-size: 0.8125rem;
        font-weight: 600;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        padding: 0 1.875rem;
        letter-spacing: 0.0625rem;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        text-align: center;
        border: none;
        background-color: $colorletra;
        color: $colorfondo;
        box-shadow: 0 0.5rem 1.5rem 0 rgba(255, 235, 167, .2);
        }

        .btn:active,
        .btn:focus {
        background-color: $colorfondo;
        box-shadow: 0 0.5rem 1.5rem 0 rgba(16, 39, 112, .2);
        }

        .btn:hover {
        background-color: $colorfondo;
        box-shadow: 0 0.5rem 1.5rem 0 rgba(16, 39, 112, .2);
        }
}

