@import "../utilities/variables"; 

/*Whatsapp*/
.float{
    position:fixed;
    width:3.75rem;
    height:3.75rem;
    bottom:2.5rem;
    right:2.5rem;
    background-color:#25d366;
    color:#FFF;
    border-radius:3.125rem;
    text-align:center;
    font-size:1.875rem;
    box-shadow: 0.125rem 0.125rem 0.1875rem $colorfondo;
    z-index:100;
  }
  
  .my-float{
    margin-top:1rem;
  }



    /*Seccion1*/
    .section1-gif {  
        background-color: #222222; 
        border: solid red;
        margin-top: .2rem;
        
        @include tablet {
          height: 30rem;
        }

        &__imagen{
          object-fit: cover;
          width: 90%;
          @include tablet {
            padding-top: 5rem;
          }
        }  
    }


    /*Seccion 2*/

    .section2-pasos{
        margin: 10rem 0 10rem 0;
        padding: 5rem;
        border: solid blue;
       
        @include movil {
        margin-top: 0;
       }

        &__titulo {
        margin-bottom: 5rem;
        }

    }
    .card{
        padding: 2.5rem 1.25rem;
        position: relative;
        display: block;
        background: $violeta;
        
        @include movil {
        margin-bottom: 5rem;
            }
      }
      .card:after{
        content:"";
        position: absolute;
        height: 100%;
        width: 50%;
        background: rgba(255,255,255,0.2);
        left: 0;
        top: 0;
        pointer-events: none;
      }
      .card:before{
        content:"";
        height: 100%;
        width: 100%;
        background: $violeta;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        transform: skew(4deg, 4deg);
      }

      .card .step{
        position: absolute;
        font-size: 6rem;
        right: 20px;
        top: 0;
        color: rgba(255,255,255,0.5);
        transform: translateY(30px);
        transition: all ease 0.5s;
      }
      .card:hover .step{
        transform: translateY(-50px);
      }
      .card p{
        font-size: 16px;
        margin: 50px 0 20px;
        z-index: 1;
        color: #fff;
      }
      
      .card a{
        display: inline-block;
        line-height: 40px;
        border: 1px solid #fff;
        padding: 0 10px;
        color: #fff;
        background: $violeta;
        transition: all ease 0.5s;
        transform: translateY(-50px);
        opacity: 0;
        border-radius: 2px;
      }

        .card:hover a{
        transform: translateY(0px);
        opacity: 1;
      }
      .card a:hover{
        background: #fff;
        color: $violeta;
        text-decoration: none;
      }   

    /*Seccion 3*/
    .section3-testimonios {
        height: auto;
        background-color: $violeta;
        border: solid green;

        @include movil {
          width: 100%;
        }

        &__titulo {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 3.125rem;
        margin: 0 0 2rem 4rem;
        color: $colorfondo;
        }

        .carousel {
            width: 45rem;
            margin-left: 20rem;

            @include movil {
              width: 100%;
              margin: 0;         
            }
            @include tablet {
              margin-left: 0;
              width: 100%;
            }
        }
    
    }
  
    /*Seccion 4*/
    .section4-wrapper {
        &__wrapper{
        display: flex;
        flex-direction: row;
        position: relative; 
        width: 55rem;
        margin: 1rem;
        border: solid yellow; 
        
        @include movil {
          width: 17rem;
          overflow: hidden;
        }

        @include tablet {
          width: 22rem;
          overflow: hidden;
        }
    }
       
        .typing-demo {
            width: 100%;
            height: 4rem;
            animation: typing 2s steps(22), blink .5s step-end infinite;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid;
            font-size: 3rem;
            color: $colorletra;
            margin-top: 10rem; 

            @include tablet {
                width: 70%;
                font-size: .8rem;
                height: 1.5rem;
                overflow: hidden;
            } 
        }

        @keyframes typing {
            from {
                width: 0
            }
            }
    
            @keyframes blink {
            50% {
                border-color: transparent;
            }
            }
        .rounded{
            width: 22rem;
            position: absolute;
            right: 3rem;
            margin-top: 10rem;

            @include tablet {
              width: 13rem;
                margin-top: 15rem;
                margin-left: 3rem;
            }        
        }
     }