@import "../utilities/variables"; 

/*Whatsapp*/
.float{
    position:fixed;
    width:3.75rem;
    height:3.75rem;
    bottom:2.5rem;
    right:2.5rem;
    background-color:#25d366;
    color:#FFF;
    border-radius:3.125rem;
    text-align:center;
    font-size:1.875rem;
    box-shadow: 0.125rem 0.125rem 0.1875rem $grisclaro;
    z-index:100;
  }
  
  .my-float{
    margin-top:1rem;
  }

  /*Seccion1*/
    .section1-slider {
        margin-top: 4rem;
        
        &__imagen{
          object-fit: cover;
          height: 30rem;           
        }

        &__botones{
            margin-top: 40rem;
            border: solid red;
        }
        @include tablet {
             &__imagen {
                width: 100%;  
             }
        }
    }

    /*Seccion 2*/
    .section2-pasos{
        background-color: $grisclaro;
        object-fit: cover;

        &__ingresar {
            margin-left: 40rem;
        }

        .sec-title {
            position: relative;
            margin-bottom: 1rem;
        }

        .sec-title.small {
            margin-bottom: 2.1875rem;
        }

        .sec-title h1 {
            font-size: 2.5rem;
            font-weight: 800;
            line-height: 3.125rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            color: $colorfondo;
        }

        .sec-title h1:before {
            position: absolute;
            left: 0;
            bottom: 0.3125rem;
            width: 3.75rem;
            height: 0.125rem;
            content: "";
            background:$colorfondo;
        }

        .sec-title h1:after {
            position: absolute;
            left: 1.25rem;
            bottom: 0rem;
            width: 3.75rem;
            height: 0.125rem;
            content: "";
            background: $colorfondo;
        }

        .sec-title.centered h1:after,
        .sec-title.centered h1:before {
            right: 0;
            margin: 0 auto;
        }

        .sec-title.light h1 {
            color: #fff;
        }

        .sec-title h3 {
            font-size: 1.5625rem;
            font-weight: 600;
            line-height: 1.1em;
            margin-bottom: 1.25rem;
        }

        .sec-title.light h3 {
            color: #fff;
        }

        .sec-title.light .text {
            color: #fff;
        }

        .sec-title.centered {
            text-align: center;
        }

        .sec-title .text {
            margin-top: 0.9375rem;
            color: $grisclaro;
            max-width: 60rem;
        }

        .sec-title.centered .text {
            margin: 0 auto;
        }

        .sec-title.style-two {
            margin-bottom: 2.5rem;
        }


        .working-process-step {
            position: relative;
        }

        .working-process-step:before {
            content: '';
            position: absolute;
            left: -0;
            right: -0;
            height: 100%;
            display: block;
            background: url() center center no-repeat;
        }

        .process-block {
            position: relative;
            margin-bottom: 2.5rem;
            padding: 0 4.0625rem;
        }

        .process-block .inner-box {
            position: relative;
            padding: 3.125rem 2.1875rem 2.0625rem;
            box-shadow: 0rem 0.9375rem 2.4375rem 0rem rgba(8, 18, 109, 0.1);
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            background-color: #ffffff;
            text-align: center;
            transition: .5s ease;
        }

        .process-block .inner-box:hover {
            box-shadow: 0rem -0.625rem 2.4375rem 0rem rgba(8, 18, 109, 0.1);
            transform: translateY(-0.625rem);
        }

        .process-block:nth-child(2) .inner-box {
            margin-top: 4.375rem;
        }

        .process-block .inner-box .count-box {
            position: relative;
            width: 5rem;
            height: 5rem;
            background: $colorfondo;
            margin: 0 auto;
            color: #ffffff;
            text-align: center;
            line-height: 5rem;
            font-size: 1.875rem;
            font-weight: 800;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            border-radius: 0.625rem;
            margin-bottom: 1.5625rem;
        }

        .process-block .inner-box h3 {
            position: relative;
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 0.625rem;
        }

        .process-block .inner-box .text {
            position: relative;
            color: #777777;
            font-size: 0.875rem;
            line-height: 1.8em;
            margin-bottom: 1.125rem;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
        }

        @keyframes float-bob-y {
            0% {
                -webkit-transform: translateY(-0.9375rem);
                transform: translateY(-0.9375rem);
            }

            50% {
                -webkit-transform: translateY(-0.0625rem);
                transform: translateY(-0.625rem);
            }

            100% {
                -webkit-transform: translateY(-0.9375rem);
                transform: translateY(-0.9375rem);
            }
        }

        .float-bob-y {
            animation-name: float-bob-y;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            -webkit-animation-name: float-bob-y;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;

            -moz-animation-name: float-bob-y;
            -moz-animation-duration: 2s;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;

            -ms-animation-name: float-bob-y;
            -ms-animation-duration: 2s;
            -ms-animation-iteration-count: infinite;
            -ms-animation-timing-function: linear;

            -o-animation-name: float-bob-y;
            -o-animation-duration: 2s;
            -o-animation-iteration-count: infinite;
            -o-animation-timing-function: linear;
        }

         @include tablet {
             .section2-pasos {
                 width: auto;
                 height: auto;
             }
               .ingresar {
                   margin-left: 10rem;
               }
         }

        }

    /*Seccion 3*/
    .section3-testimonios {
        margin-top: 10rem;
        width: 100%;
        height: auto;

        &__titulo {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 3.125rem;
        padding-bottom: 1.875rem;
        margin-bottom: 1.875rem;
        color: $colorfondo;
        }

        &__testimonios {
            padding-left: 10rem;
            width: 100%;
            margin: auto;
            overflow: hidden; 
            background-color: $grisclaro;
        }

        &__testimoniosUl {
            display: flex;
            padding: 0;
            width: 400%;
            animation: cambio 15s infinite;
            animation-timing-function: ease-in;
        }

        &__testimoniosLi {
            width: 100%;
            list-style: none;
        }

        &__imagen {
            width: 40%;
            height: auto;
            padding: 1.875rem;
            margin-left: 160px;
        }

        @keyframes cambio {
            0% {
                margin-left: 0;
            }

            34% {
                margin-left: 0;
            }

            35% {
                margin-left: -100%;
            }

            65% {
                margin-left: -100%;
            }

            66% {
                margin-left: -200%;
            }

            100% {
                margin-left: -200%;
            }
        }
    }

    /*Seccion 4*/
    .section4-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

           .typing-demo {
            width: 100%;
            animation: typing 2s steps(22), blink .5s step-end infinite;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid;
            font-family: poppins;
            font-size: 3rem;
            color: $colorletra;
            margin-top: 7rem;           
        }

        @keyframes typing {
            from {
                width: 0
            }
        }

        @keyframes blink {
            50% {
                border-color: transparent;
            }
        }
         @include tablet {
             .section4-wrapper {
                display: flex;
                flex-direction: column;
             }

             .section4-wrapper__imagen{
                 margin-left: 10rem;
             }
         }
    }

