@import "../utilities/variables";

.section1-quienes {
  margin: 6rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
      
      &__imagen {
      margin-left: 10%;
      width: 60%;
      }

      &__texto {
      margin-top: 3rem;
      margin-right: 5rem;
      text-align: justify;
      color: #F2F2F2;
      }
}

  
  .section2-importancia {
    height: auto;
    background-color: $grisclaro;
    border: solid $grisclaro;

    &__bloque{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5rem;
    }
    &__bloque1{
      margin: 5rem;
    }
    &__titulo{
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 3.125rem;
      color: $colorfondo;
    }

    &__imagen{
      height: auto;
      width: 50rem;
    }

    &__ingresar{
      margin-left: 15rem;
    }

    &__texto{
      width: 40rem;
      text-align: justify;
    }

}


.section3-beneficios{
  

}