@import "../utilities/variables";

.section1-quienes {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include movil {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 54rem;
  }
  
  @include tablet {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  &__imagen {
  margin: 2rem 0 0 2rem;
  width: 20rem;
  height: 30rem;

  @include movil {
    margin: 5rem 0 5rem 20rem;
  }

  @include tablet {
    margin: 5rem 0 5rem 15rem;
    width: 30rem;
    height: 40rem;
  }
 }
  &__bloque {
    margin-top: 10rem;
  }

  &__texto {
  text-align: justify;
  color: $colorletra;
  width: 40rem;
  position: sticky;
    
    @include tablet {
      width: 40rem;
      text-align: justify;
      font-size: 2rem;
      position: relative;
      margin: 5rem;
    }
  }

  &__titulo {
    margin-bottom: 2rem;
    font-size: $titulo;
    font-weight: 800;
    line-height: 3.125rem;
    letter-spacing: 0;
    width: 45rem;
    position: sticky;

    @include tablet {
      position: relative;
      margin: 0 0 0 3rem;

    }
  }


  &__circulo {
    position: absolute;
    margin: 0 0 10rem 40rem;
    width: 30rem;
    height: auto;

    @include movil{
      margin: 35rem 0;
    }

    @include tablet {
      margin: 45rem 0;
    }
  }

  @include tablet {
    &__ingresar{
      margin-left: 0rem;
      width: 20rem;
      height: 5rem;
      font-size: 2rem;
      }
  }
    
}
  
.section2-importancia {
  height: auto;
  background-color: $amarillo;
  border: solid $amarillo;
  

  &__bloque{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &__bloque1{
    margin: 5rem;
  }

  &__titulo{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.125rem;
    color: $colorletra;
  }

  &__imagen{
    height: auto;
    width: 100%;
  }

  &__ingresar{
    margin-left: 15rem;
  }

  &__texto{
    width: 40rem;
    text-align: justify;
  }

  @include tablet {
    &__bloque{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &__imagen{
      width: 80%;
    }
  }

  @include movil {
    &__bloque{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    &__texto{
      width: 60%;
      text-align: justify;
      font-size: 3rem;
    }

    &__titulo{
      font-size: 4rem;
      width: 60%;
      line-height: 5rem;
    }

    &__imagen{
      width: 70%;
    }

    &__ingresar{
    margin-left: 0rem;
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    }
  }

  @include tablet{
    &__bloque{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    &__texto{
      width: 60%;
      text-align: justify;
      font-size: 3rem;
    }

    &__titulo{
      font-size: 4rem;
      width: 60%;
      line-height: 5rem;
    }

    &__imagen{
      width: 60%;
    }

    &__ingresar{
    margin-left: 0rem;
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    }
  }
}

.section3-quienes {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include movil {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 54rem;
    border: solid red;
  }
  
  @include tablet {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  &__imagen {
  margin: 2rem 0 0 ;
  width: 30rem;
  height: auto;

  @include movil {
    margin: 5rem 0 5rem 20rem;
  }

  @include tablet {
    margin: 5rem 0 5rem 20rem;
  }
 }

 &__bloque {
  margin-top: 10rem;
}

  &__texto {
  text-align: justify;
  color: $colorletra;
  width: 40rem;
  position: sticky;
    
    @include tablet {
      width: 40rem;
      text-align: justify;
      font-size: 2rem;
      position: relative;
      margin: 5rem;
    }
  }

  &__titulo {
    margin-bottom: 2rem;
    font-size: $titulo;
    font-weight: 800;
    line-height: 3.125rem;
    letter-spacing: 0;
    width: 45rem;
    position: sticky;

    @include tablet {
      position: relative;
      margin: 0 0 0 3rem;

    }
  }

  &__circulo {
    position: absolute;
    margin: 0 0 10rem 45rem;
    width: 35rem;
    height: auto;

    @include movil{
      margin: 35rem 0;
    }

    @include tablet {
      margin: 35rem 0;
    }
  }
  
  @include tablet {
    &__ingresar{
      margin-left: 0rem;
      width: 20rem;
      height: 5rem;
      font-size: 2rem;
      }
  }
}

/*Services Styles*/
.services {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $colorfondo;
  margin: 5rem;
  overflow: hidden;

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 40rem;
  }

  &__titulo {
    color: $colorletra;
    margin: 15rem 0 0 10rem;
    font-size: $titulo;
    font-weight: 800;
    line-height: 3.125rem;
    color: $colorletra;
  }
  

  &__imagen{
    height: 25rem;
    margin-left: 5rem;
  }

  &__box {
    position: relative;
    width: 21.875rem;
    height: 17.5rem;
    background: $amarillo;
    border-radius: 1.25rem;
    overflow: hidden;

    &:hover .services__content {
      transform: scale(1);
      transition-delay: 0.25s;
    }

    &:hover .services__icon {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      top: 1.875rem;
      left: calc(50% - 2.5rem);
      transition-delay: 0s;

      & ion-icon {
        font-size: 2rem;
        transition-delay: 0s;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $amarillo;
    transition: 0.5s;
    z-index: 2;
    transition-delay: 0.25s;

    & ion-icon {
      font-size: 4rem;
      color: $colorletra;
      font-weight: bold;
      transition: 0.5s;
      transition-delay: 0s;
    }
  }

  &__content {
    position: relative;
    color: $colorletra;
    padding: 1.25rem;
    text-align: center;
    margin-top: 6.25rem;
    z-index: 1;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
  }

  &__title {
    margin: 0.625rem 0 0.3125rem 0;
    font-size: 19.2px;
    font-weight: 600;
  }

  &__description {
    font-size: 0.95rem;
    font-weight: 400;
    padding-top: 0.625rem;
  }
}
